.git
.github
node_modules
vendor
tests
storage/logs
storage/framework/sessions
storage/framework/views
storage/framework/cache
storage/app
.env
.env.production
.env.backup
*.md
.editorconfig
.gitignore
.gitattributes
phpunit.xml
pint.json
docker-compose.yml
